@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --primary: #0d6efd;
  --secondary: #6c757d;
  --light: #f8f9fa;
  --dark: #212529;
  --font-sans-serif: 'Mulish', sans-serif;
  --font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --gradient: linear-gradient(180deg, rgba(43, 30, 30, 0.15), rgba(255, 255, 255, 0));
}

body{
  font-family: var(--font-sans-serif);
  background-image: url("images/Else.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat; 
  display: flex;
  flex-direction: column;
  align-items: center;
}
#app {
    width: 50vw;
    height: 80vh;
    color: aliceblue;
    margin: 3rem 0;
  }
  
  #app .search {
    padding: 1rem;
    display: flex;
    justify-content: center;
  }
  
  #app input {
    width: 350px;
    height: 36px;
    border: 1px solid #00000000;
    border-radius: 8px 0 0 8px;
    padding-left: 18px;
    font-size: small;
    /* box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.75); */
    outline: none;
    backdrop-filter: saturate(180%) blur(3px);
  }
  #app input:focus {
    border: 1px solid var(--primary);
    color: black;
  }
  #app button {
    cursor: pointer;
    height: 36px;
    padding: 8px 16px;
    border-radius: 0 8px 8px 0;
    border: none;
    color: #ffffff;
    background-color: var(--primary);
    transition: 0.5s;
  }
  #app button:hover {
    opacity: 80%;
  }
  article {
    height: 90%;
    background: rgba(51, 51, 51, 0.555);
    backdrop-filter: saturate(180%) blur(3px);
    border-radius: 8px;
    margin: 20px 26px 0 26px;
    border: 0;
  }
  article .icon-cnt {
    width: 100%;
    height: 42%;
    text-align: center;
    font-size: 6em;
    color: #ffffff;
  }
  article .icon-cnt i {
    margin: 48px 0;
  }
  article .temp-cnt {
    width: 100%;
    height: 36%;
    display: flex;
    font-weight: lighter;
  }
  article .temp-cnt .temp {
    width: 65%;
    background-color: black;
    display: flex;
    align-items: center;
  }
  article .temp-cnt .temp .deg {
    margin-left: 2px;
    height: 100px;
    font-size: 5rem;
    font-weight: lighter;
  }
  article .temp-cnt .temp .con {
    padding: 2rem 0;
    margin-left: 14px;
    height: 100px;
    font-size: 1.5rem;
    font-weight: lighter;
  }
  article .temp-cnt .temp .con p {
    font-size: medium;
  }
  article .temp-cnt .date {
    width: 36%;
    font-size: 2rem;
    font-weight: bolder;
    display: flex;
    align-items: center;
    text-align: center;
  }
  article .last-cnt {
    width: 100%;
    height: 20%;
    display: flex;
  }
  article .last-cnt-1 {
    width: 25%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-left: 18px;
  }
  article .last-cnt-1 i {
    font-size: 1.5rem;
    font-weight: normal;
    color: var(--primary);
  }
  article .last-cnt-1 span {
    margin-left: 18px;
    /* color: black; */
  }
  article .last-cnt-1 span p {
    font-size: smaller;
  }
  #app .watermark{
    position: absolute;
    right: 0;
    color: grey;
  }
  
  @media screen and (max-width: 600px) {
    #app {
      width: 100vw;
      height: 62vh;
      margin-top: 4rem;
    }
    article{
      margin-top: 50px;
      margin-bottom: 80px;
      height: auto;
    }
    article .icon-cnt {
      font-size: 5em;
      padding-top: 22px;
      height: 30%;
    }
  article .icon-cnt i {
    margin: 0;
  }
    article .temp-cnt {
      width: 100%;
      height: 38%;
      display: block;
    }
    article .temp-cnt .temp {
      width: 100%;
      background-color: black;
      display: flex;
      align-items: center;
      padding: 16px 0;
    }
    article .temp-cnt .temp .deg {
      font-size: 4rem;
    }
    article .temp-cnt .temp .con {
      padding: 1rem 0;
    }
    article .temp-cnt .date {
      width: 100%;
      height: auto;
      padding: 14px 0;
    }
    article .last-cnt {
      height: 20%;
      display: flex;
      padding: 26px 0; 
    }
    article .last-cnt-1 {
      padding-left: 22px;
      display: block;
      justify-content: center;
      text-align: left;
    }
    article .last-cnt-1 span p {
      font-size: small;
    }
  
    #app input {
      color: grey;
    }
    #app input:focus {
      border: 1px solid var(--primary);
      color: black;
    }
  }
  
  